# ==========================================
# CONFIGURACIÓN GENERAL DE LA APLICACIÓN
# ==========================================
PORT=3000
NODE_ENV=development

# ==========================================
# BASE DE DATOS (Contenedor Docker / Local)
# ==========================================
DB_HOST=db
DB_PORT=5432
DB_USER=postgres_user
DB_PASSWORD=postgres_password
DB_NAME=redcuidadora_db

# ==========================================
# SEGURIDAD Y AUTENTICACIÓN
# ==========================================
JWT_SECRET=tu_clave_secreta_para_desarrollo_local