# Archivos del sistema e IDEs
.DS_Store
.vscode/
.idea/

# Gradle y Android local
.gradle/
build/
app/build/
local.properties

# Dependencias y compilados
node_modules/
dist/
__pycache__/

# Variables de entorno
.env
